body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.col {
    margin: auto;
}

.container {
    margin: 15% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.mydog {
    max-width: 200px;
    margin: 0 auto;
}